<div class="w-full h-full opacity-60 mix-blend-screen">
    <svg
        viewBox="0 0 200 200"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="w-full h-full"
    >

        <path
            d="M100 0Q120 50 100 80"
            class="draw-path stroke-gray-600"
            stroke-width="1"
            stroke-dasharray="5 5"></path>

        <circle
            cx="100"
            cy="100"
            r="20"
            class="draw-path stroke-white"
            style="animation-delay: 0.5s"
            stroke-width="1.5"></circle>
        <path
            d="M90 100Q100 110 110 100"
            class="draw-path stroke-cyan-300"
            style="animation-delay: 1s"
            stroke-width="1.5"></path>

        <path
            d="M80 120C80 110 120 110 120 120V150H80V120Z"
            class="draw-path stroke-gray-300"
            style="animation-delay: 1.2s"
            stroke-width="1.5"></path>

        <path
            d="M80 125L60 110"
            class="draw-path stroke-gray-300"
            style="animation-delay: 1.5s"
            stroke-width="1.5"></path>
        <path
            d="M120 125L140 140"
            class="draw-path stroke-gray-300"
            style="animation-delay: 1.5s"
            stroke-width="1.5"></path>
    </svg>
</div>
