<div class="w-64 h-64 mx-auto relative opacity-60 mix-blend-screen">
    <svg
        viewBox="0 0 200 200"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="w-full h-full"
    >
        <path
            class="draw-path stroke-cyan-400"
            d="M100 20C100 20 70 80 70 130C70 150 80 160 100 160C120 160 130 150 130 130C130 80 100 20 100 20Z"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        <path
            class="draw-path stroke-purple-400"
            style="animation-delay: 0.5s"
            d="M70 130L40 160V170H75"
            stroke-width="1.5"></path>
        <path
            class="draw-path stroke-purple-400"
            style="animation-delay: 0.5s"
            d="M130 130L160 160V170H125"
            stroke-width="1.5"></path>
        <circle
            class="draw-path stroke-white"
            style="animation-delay: 1s"
            cx="100"
            cy="80"
            r="10"
            stroke-width="1.5"></circle>
        <path
            class="draw-path stroke-amber-400"
            style="animation-delay: 1.5s"
            d="M90 165L100 190L110 165"
            stroke-width="1.5"></path>
    </svg>
</div>
