<div class="w-full h-full opacity-60 mix-blend-screen">
    <svg
        viewBox="0 0 200 200"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="w-full h-full"
    >
        <circle
            cx="100"
            cy="100"
            r="50"
            class="draw-path stroke-purple-400"
            stroke-width="1.5"></circle>

        <path
            d="M40 120C40 120 60 140 100 140C140 140 160 120 160 120"
            class="draw-path stroke-cyan-300"
            style="animation-delay: 0.5s"
            stroke-width="1.5"></path>

        <path
            d="M40 120C40 120 60 100 100 100C140 100 160 120 160 120"
            class="draw-path stroke-cyan-300/30"
            style="animation-delay: 1s"
            stroke-width="1.5"
            stroke-dasharray="4 4"></path>

        <path
            d="M60 90C80 95 120 95 140 90"
            class="draw-path stroke-purple-400/50"
            style="animation-delay: 1.5s"
            stroke-width="1"></path>
    </svg>
</div>
