<div class="w-full h-full opacity-60 mix-blend-screen">
    <svg
        viewBox="0 0 200 200"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="w-full h-full"
    >
        <rect
            x="80"
            y="80"
            width="40"
            height="40"
            class="draw-path stroke-gray-300"
            stroke-width="1.5"></rect>

        <path
            d="M80 100L30 100"
            class="draw-path stroke-cyan-500"
            style="animation-delay: 0.5s"
            stroke-width="1.5"></path>
        <rect
            x="20"
            y="70"
            width="20"
            height="60"
            class="draw-path stroke-cyan-500/80"
            style="animation-delay: 0.8s"
            stroke-width="1.5"></rect>
        <line
            x1="30"
            y1="70"
            x2="30"
            y2="130"
            class="draw-path stroke-cyan-500/50"
            stroke-width="1"></line>

        <path
            d="M120 100L170 100"
            class="draw-path stroke-cyan-500"
            style="animation-delay: 0.5s"
            stroke-width="1.5"></path>
        <rect
            x="160"
            y="70"
            width="20"
            height="60"
            class="draw-path stroke-cyan-500/80"
            style="animation-delay: 0.8s"
            stroke-width="1.5"></rect>
        <line
            x1="170"
            y1="70"
            x2="170"
            y2="130"
            class="draw-path stroke-cyan-500/50"
            stroke-width="1"></line>

        <path
            d="M100 120L100 150"
            class="draw-path stroke-white"
            style="animation-delay: 1.5s"
            stroke-width="1.5"></path>
        <circle cx="100" cy="155" r="2" class="fill-white animate-pulse"
        ></circle>
    </svg>
</div>
